{% extends "layout.html" %}

{% block body %}

<div class="center">
    <h4 >Your Cart</h1><br>
        <div class="container">
             <table class="table table-sm">
                <thead>
                    <th>SNo.</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Remove</th>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{product.pname}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.price}}</td>
                        <td><form action="{{url_for('deletefcart',id=product.id)}}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                          </form></td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
        </div>
        <br><a href="{{url_for('buy')}}">Checkout</a><br><br>
        <a href="{{url_for('user_dashboard')}}">Want to Buy something else?</a><br>
    <a href="{{url_for('user_logout')}}">Press here to logout</a><br><br>
</div>

    
{% endblock %}