{% extends "layout.html" %}

{% block body %}

<div class="center">
    <h4 >Dashboard to show your added products</h1>
        <div class="container">
             <table class="table table-sm">
                <thead>
                    <th>SNo.</th>
                    <th>Name</th>
                    <th>unit</th>
                    <th>rate/unit</th>
                    <th>quantity</th>
                    <th>category</th>
                    <th>update</th>
                    <th>delete</th>
                </thead>
                <tbody>
                    {%for product in products%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.unit}}</td>
                        <td>{{product.rate}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.category.name}}</td>
                        <td><a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-info btn-sm">Edit</a></td>
                        <td><form action="{{url_for('deleteproduct',id=product.id)}}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                          </form></td>
                    </tr>
                    {%endfor%}
                </tbody>
             </table>
        </div>
    <a href="{{url_for('merchant_dashboard')}}">Add new products</a>
</div>

    
{% endblock %}