<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Shopper's Den</title>
</head>
<body>
    <div class="center">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home') }}">Shopper's Den</a>
          
          </li>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('user_dashboard') }}">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" a href="{{ url_for('merchant_dashboard') }}">Merchant</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" a href="{{ url_for('merchant_list') }}">Merchant List</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
    </div>
    {% block body %}{% endblock %}
</body>
</html>